<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <table>
    <tr>
      <td>
        <a routerLink = "/add-project">Add Project</a>        
      </td>
      <td></td>
      <td>
          <a routerLink ="/add-task">Add Task</a>
      </td>
      <td></td>
      <td>
          <a routerLink ="/add-user">Add User</a>
      </td>
      <td></td>
      <td>
          <a routerLink ="/view-task">View Task</a>
      </td>
    </tr>
  </table>
  <router-outlet>    
  </router-outlet>
</div>