<form name="myform" #f="ngForm" novalidate>

  <table class="addtable">

    <tr height="50"></tr>
    <tr>
      <td colspan="3">
        <h2>
          <label>Add User</label>
        </h2>

      </td>
    </tr>


    <tr>
      <td>
        <label>First Name</label>
      </td>
      <td>
        <!-- <input type="text"        
          [(ngModel)]="userDetails.FirstName"         
          /> -->
        <input type="text" class="form-control" #FirstNameV="ngModel" [ngClass]="{ 'is-invalid': f.submitted && FirstNameV.invalid }"
          [(ngModel)]="userDetails.FirstName" name="userDetails.FirstName" required/>
      </td>
      <td color="red">
        <div *ngIf="FirstNameV.errors?.required">
          First Name is required.
        </div>

      </td>
    </tr>
    <tr>
      <td>
        <label>Last Name</label>
      </td>
      <td>
        <!-- <input type="text" 
        [(ngModel)]="userDetails.LastName"
      /> -->

        <input type="text" class="form-control" #LastNameV="ngModel" [ngClass]="{ 'is-invalid': f.submitted && LastNameV.invalid }"
          [(ngModel)]="userDetails.LastName" name="userDetails.LastName" required/>
      </td>
      <td color="red">
        <div *ngIf="LastNameV.errors?.required">
          Last Name is required.
        </div>

      </td>
    </tr>
    <tr>
      <td>
        <label>Employee ID</label>
      </td>
      <td>
        <input type="text" class="form-control" #EmployeeV="ngModel" [ngClass]="{ 'is-invalid': f.submitted && EmployeeV.invalid }"
          [(ngModel)]="userDetails.EmployeeId" name="userDetails.EmployeeId" required/>
      </td>
      <td color="red">
        <div *ngIf="EmployeeV.errors?.required">
          EmployeeID is required.
        </div>

      </td>
    </tr>




    <tr>
      <td colspan="3">
        <div class="form-group">
          <!-- {{f.invalid | json}} -->
          <button (click)='addUser()' *ngIf="!edited" [disabled]="f.invalid" class="btn btn-primary">Add</button>
          <button (click)='UpdateUser()' *ngIf="edited" [disabled]="f.invalid" class="btn btn-primary">Update</button>
          <button (click)='reset()'>Reset</button>
        </div>
        <!-- <button class="form-group" (click)='addTask()'>Add Task</button>  -->
        <!-- <button>Reset</button> -->
      </td>
    </tr>
  </table>
</form>
<table class="searchtable">
  <tr>

    <td width="20%">
      <input type="text" id="Task" [(ngModel)]="searchtext" placeholder="Search...">
    </td>
    <td align="left" width="60%">
      <label>Sort: </label>
      <button (click)="sortUsers('FirstName')">First Name</button>
      <button (click)="sortUsers('LastName')">Last Name</button>
      <button (click)="sortUsers('EmployeeId')">ID</button>
      <td>

  </tr>
</table>
<table border="true" class="viewtable" *ngIf="usersdata">
  <tr>
    <th *ngFor="let col of columns">
      {{col}}
    </th>
    <th>
      <label>Edit</label>
    </th>

    <th>
      <label>Delete</label>
    </th>
  </tr>

  <tr *ngFor="let user of usersdata | userfilterPipe:searchtext">
    <td *ngFor="let col of columns">
      {{user[col]}}
    </td>
    <td>
      <button (click)='edit(user)'>EDIT</button>
    </td>
    <td>
      <button (click)='delete(user)'>DELETE</button>
    </td>
  </tr>

</table>