
<form name="myform"
 #f="ngForm"
novalidate>

<table class="addtable">

  <tr height="50"></tr>
  <tr>
  <td colspan="3">
    <h2>
        <label>Add Project</label>
    </h2>
  </td>
  </tr>
  <tr>
      <td>
        <label>Project</label>   
      </td>
      <td>
      <input type="text" 
      class="form-control" #ProjectNameV="ngModel" 
      
      [ngClass]="{ 'is-invalid': f.submitted && ProjectNameV.invalid }"
     required [(ngModel)]="projectDetails.Project_Name"
      
      name="ProjectName"  required/>
      </td>
      <td color="red">
              <div  *ngIf="ProjectNameV.errors?.required">
                    Project is required.
                  </div>  
                
      </td>
  </tr>
  <tr>
     
      <td align="left" >
          <input type="checkbox" name="IsDateRequired" value = "Set Start Date and EndDate"
          class="form-control parent-task"    (change) = 'setdate(IsDateRequired)'    
          [(ngModel)]="IsDateRequired"/>
          Set Start Date and End Date
      </td>
      <td>
         
          <input type="date" name="StartDate"
          class="form-control" #StartDateV="ngModel" [disabled]="!IsDateRequired"
          [(ngModel)]="projectDetails.Start_Date"
          [ngClass]="{ 'is-invalid': f.submitted && StartDateV.invalid && !IsDateRequired}"
          required 
          
          />
          
          <input type = "date" name="EndDate"
          class="form-control" #EndDateV="ngModel" [disabled]="!IsDateRequired"
          min="{{projectDetails.Start_Date}}"
          [(ngModel)]="projectDetails.End_Date"
          [ngClass]="{ 'is-invalid': f.submitted && EndDateV.invalid && !IsDateRequired}"
          required 
          />
      </td>
      <td color="red">
          <div  *ngIf="StartDateV.errors?.required">
                StartDate is required.
              </div>  
           <div  *ngIf="EndDateV.errors?.required">
                EndDate is required.
           </div>  
     </td>
  </tr>
  <tr>
      <td>
        <label>Priority</label>        
      </td>
      <td>
          <input type = "range" name="Priority"
          class="form-control" #PriorityV="ngModel"          
      [ngClass]="{ 'is-invalid': f.submitted && PriorityV.invalid }"
     required       
          
          [(ngModel)]="projectDetails.Priority"/> 
         
      </td>
      <td color="red">
              <div  *ngIf="PriorityV.errors?.required">
                    Priority is required.
                  </div> 
      </td>
  </tr>
  <tr>
    <td>
      <label>Manager</label>   
    </td>
    <td>


        <input type="text" 
        class="form-control" #ManagerV="ngModel"  readonly
        
        [ngClass]="{ 'is-invalid': f.submitted && ManagerV.invalid }"
       required [(ngModel)]="projectDetails.Manager_Name"
        
        name="Manager_ID"  required/>
    <button  class="btn btn-info btn-lg" (click)="openModalDialog()">Search</button>
    <div [ngStyle]="{'display':display}"></div>
  
    <!-- modal -->
    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
      <!-- modal-dialog -->
      <div class="modal-dialog" role="document">
        <!-- modal-content -->
        <div class="modal-content">
          <!-- modal-header -->
          <div class="modal-header">
           
            <h4 class="modal-title">Select Manager</h4>
          </div>
    
          <!-- modal-body -->
          <div class="modal-body">
          
                <div>
                    <input type="text" class="textbox" name="SearchManager"  [(ngModel)] ="searchManager" placeholder="Search..." >
                </div>      
                <div>
                  <table border="true"  *ngIf="usersdata">
                    <tr>
                        <th *ngFor="let col of usercolumns">
                          {{col}}
                        </th>
                        <th>
                          <label></label>
                        </th>
                        
                      
                      </tr>
                     
                      <tr  *ngFor="let user of usersdata | userfilterPipe:searchManager">
                        <td *ngFor="let col of usercolumns">
                          {{user[col]}}
                        </td>
                        <td><button  (click)='select(user)'>SELECT</button></td>         
                        
                      </tr>
                  </table>
                </div>
               
           
          </div>
    
          <!-- modal-footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="closeModalDialog()" >Close</button>
          </div>
        </div>
      </div>
    </div>
    </td>
    <td color="red">
      <div  *ngIf="ManagerV.errors?.required">
            Manager is required.
          </div>  
        
</td>
  </tr>
 
 
  
  <!-- <popup>
    Wrong password
  </popup> -->
  
  <tr>
    <td colspan="3">
          <div class="form-group">

                  <button (click)='addProject()' *ngIf="!edited"  [disabled]="!f.form.valid" class="btn btn-primary">Add</button>
                  <button (click)='updateProject()' *ngIf="edited"  [disabled]="!f.form.valid" class="btn btn-primary">Update</button>
                  <button (click)='reset()'>Reset</button>
              </div>
 
    </td>  
  </tr>
  </table>
  
</form>

  <table class = "searchtable">
    <tr>
        
          <td width="20%">
            <input type="text" id="ProjectSearch" [(ngModel)] ="searchtext" placeholder="Search..." >
          </td>         
          <td align= "left" width= "60%">
          <label>Sort: </label>
          <button (click) = "sortProjects('Start_Date')">Start Date</button>
          <button (click) = "sortProjects('End_Date')">End Date</button>
          <button (click) = "sortProjects('Priority')">Priority</button>
          <button (click) = "sortProjects('Completed_Task')">Completed</button>
          <td>
         
    </tr>
  </table>
  <table border="true" class ="viewtable" *ngIf="projectsdata">
    <tr>
       <th>
         Project ID
       </th>
        <th>
          Project Name
        </th>
        <th>
          Priority
        </th>
        <th>
          Start Date
        </th>
        <th>
          End Date
        </th>
        <th>
          Manager ID
        </th>
        <th>
          No of Task
        </th>
        <th>
          Completed Task
        </th>
      </tr>
           
        <tr  *ngFor="let project of projectsdata | projectfilterPipe:searchtext ">
          <td>
            {{project.Project_ID}}
          </td>
          <td>
            {{project.Project_Name}}
          </td>
          <td>
              {{project.Priority}}
          </td>
          <td>
            <!-- {{project.Start_Date}} -->
            {{getStartDate(project.Start_Date,project)}}
          </td>
          <td>
              <!-- {{project.End_Date|date: 'dd/MM/yyyy' }} -->
           
              {{getEndDate(project.End_Date,project)}}
          </td>
          <td>             
            {{project.Manager_ID}}          
          </td>
          <td>
            {{getNoofTask(project.Project_ID)}}
          </td>
          <td>
              {{getcompletedtask(project.Project_ID,project)}}
            </td>
        <td><button  (click)='edit(project)'>UPDATE</button></td>          
        <td><button (click)='delete(project)'>SUSPEND</button></td>
      </tr>
  </table>
